<%= stylesheet_link_tag    'application', media: 'all' %>
<div class="album text-muted">
  <div class="container">
    <div class="row main">
      <div class="main-login main-center">
        <h1>Book Appointment</h1>
        <%= form_for @new_appointment, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
            <%= errors_for(@new_appointment) %>

            <div class="form-group">
              <label for="name" class="cols-sm-2 control-label">Your Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                   <%= f.text_field :customer_name,:class=>"form-control",:placeholder=>"Enter your Name",:required=>true %>
                  <%= f.hidden_field :salon_id, :value => get_salon_id%>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="cols-sm-2 control-label">Your Age</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <%= f.text_field :customer_age,:class=>"form-control",:placeholder=>"Enter your Age",:required=>true %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirm" class="cols-sm-2 control-label">Appointment Date</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
                  <%= f.date_field :appointment_date, :class=> "form-control",:required=>true %>

                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Time Slot(Hours)</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-time" aria-hidden="true"></i></span>
                  <%= f.select(:time_slot, ['10', '11','12','13','15','16','17','18','19'], {include_blank: "--- Select Slot ---"}, { :class => 'form-control',:required=>true }) %>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <%= f.submit "Book Appointment",:class=>"btn btn-primary btn-lg btn-block login-button" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

