<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <%#= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

  <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */
      .navbar {
          margin-bottom: 50px;
          border-radius: 0;
      }

      /* Remove the jumbotron's default bottom margin */
      .jumbotron {
          margin-bottom: 0;
      }

      /* Add a gray background color and some padding to the footer */
      footer {
          background-color: #f2f2f2;
          padding: 25px;
      }
  </style>
</head>
<body>

<%= render :partial=>'layouts/header' %>

<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<%= yield %>
</div><br>

<footer class="container-fluid text-center">

</footer>

</body>
</html>
